<h1>Add New Classification</h1>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li class="messages"><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/inv/add-classification" method="post" class="classification-form" novalidate>
  <fieldset>
    <label for="classification_name">Classification Name 
    <span class="note">Name must be only alphabetic characters only</span>
    <input type="text" id="classification_name" name="classification_name" required maxlength="30" value="<%= typeof classification_name != 'undefined' ? classification_name : '' %>"/>
    </label>
    <input type="submit" value="Add Classification">
  </fieldset>
</form>